.Shop__Row{
   margin: 32px 0px 0px 0px;
}

.Shop__Container{
   font-size: 18px;
   line-height: 21px;
   position: relative;
}


.Shop__BrandBar{
   cursor: pointer;
}

.Shop__BrandBar__row{
   display: flex;
   justify-content: space-around;
   margin: 0px 0px 15% 0px;
}

.Shop__BrandBar__item{
   font-size: 24px;
   line-height: 28px;
   margin: 0px 5px 15px 0px;
   background-color: #C4C4C4;
   padding: 2px 13px 3px 12px;
}

.Shop__Device__card{
   cursor: pointer;
   border: none;
   margin: 0px 15px 30px 0px;
}

.Shop__Device__content{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 15px 0px 5px 0px;
}

.Shop__Device__subcontent{
   display: flex;
   align-items: center;
}

.Shop__Device__rating{
   margin: 3px 5px 0px 0px;
}

.Shop__Device__text{
   margin: 3px 0px 0px 0px;
   line-height: 16px;
   color: #817D7D;
   letter-spacing: 1px;
}

.Shop_pagination{
   display: flex;
   justify-content: center;
}



